html, body {
    height: 100%;
    margin: 0px;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    font-family: Roboto;
}

#content {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.146);
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
}

#book-grid {
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 35px;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
}

.title {
    margin-top: 20px;
}

.remove-button {
    margin-bottom: 20px;
}

.book-card button {
    border: none;
    border-radius: 10px;
    width: calc(100% - 100px);
    height: 50px;
}

.book-card i {
    align-self: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    color: black;
}

.book-card i:hover {
    opacity: 0.50;
    cursor: pointer;
}

button[read="false"] {
    background-color: rgba(254, 109, 109, 0.8);
}

button[read="false"]:hover {
    background-color: rgba(254, 109, 109, 1);
}

button[read="true"] {
    background-color: rgba(115, 247, 115, 0.80);
}

button[read="true"]:hover {
    background-color: rgba(115, 247, 115, 1);
}

#open-add-dialog-button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(232, 232, 232);
}

button {
    font-weight: 600;
    cursor: pointer;
}